.video-card-container {
  list-style-type: none;
  max-width: 500px;
  margin-bottom: 15px;
}
.link-styling {
  text-decoration: none;
}
.home-thumbnail-img {
  height: 250px;
}
.channel-img {
  height: 40px;
}
.channel-description-container {
  display: flex;
  align-items: center;
}
.channel-description {
  padding: 10px;
}
.home-vid-channel-para {
  color: #64748b;
  margin: 10px;
  font-size: 12px;
  font-weight: 500;
}
.channel-para-container {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

@media screen and (min-width: 578px) and (max-width: 767px) {
  .video-card-container {
    width: 285px;
    margin: 15px;
  }
  .home-thumbnail-img {
    width: 100%;
    height: 180px;
  }
  .channel-para-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .video-card-container {
    max-width: 300px;
    margin: 10px;
  }
  .home-thumbnail-img {
    width: 100%;
    height: 160px;
  }
}
